<a href="https://colab.research.google.com/github/SAOB2024/SAOB2024/blob/main/Function_Practice_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def greet():
  print("Hello world!")

greet()

Hello world!

In [ ]:
def multiply_by_two(x):
  return x * 2

result= multiply_by_two(5)
print(result)

10

In [ ]:
def is_even(number):
  if number % 2 == 0:
    return True
  else:
    return False
#Test the function
result= is_even(4)
print(result)

True

In [ ]:
def greet_person(name):
  print("Hello " + name + "! Nice to meet you.")

# Example usage:
greet_person("Alice")

Hello Alice! Nice to meet you.

In [ ]:
def find_largest(num1, num2, num3):
  largest = num1
  if num2 > largest:
    largest = num2
  if num3 > largest:
    largest = num3
  return largest

# Example usage:
result = find_largest(10, 5, 8)
print(result)  # Output: 10

10