<a href="https://colab.research.google.com/github/SAOB2024/SAOB2024/blob/main/R_activity_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Inputting Simple Data
#prompt for use's name
user_name<-readline(prompt="What is your name?")
#Print a greeting message
print(paste("Hello",user_name,"!"))

What is your name?Shakirat
[1] "Hello Shakirat !"

In [6]:
#Inputting a numeric Data
#Prompt for input
numbers_input<-readline(prompt = "Enter several numbers separated by commas(e.g,1,2,3): ")
#convert the input string to a numeric vector
numbers_vector<-as.numeric(unlist(strsplit(numbers_input,",")))
#Print the numeric vector
print(numbers_vector)

Enter several numbers separated by commas(e.g,1,2,3): 1,3,9
[1] 1 3 9

In [17]:
#Creating and Displaying  a Data Frame
#Prompt for names
names_input<-readline(prompt = "Enter names seperated by commas")
#prompt for ages
ages_input<-readline(prompt = "Enter ages separated by commas,corresponding to each name:")
#convert inputs to approipriate data structures
names_vector<-unlist(strsplit(names_input, ","))
ages_vector<-as.numeric(unlist(strsplit(ages_input,",")))
#create and print the data frame
people_df<-data.frame(Name=names_vector,Age=ages_vector)
print(people_df)

Enter names seperated by commasJade, Lola, Josh
Enter ages separated by commas,corresponding to each name:20,50,34
   Name Age
1  Jade  20
2  Lola  50
3  Josh  34