<a href="https://colab.research.google.com/github/SAOB2024/SAOB2024/blob/main/Ractivity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#numeric vector of even numbers
even_numbers<-c(2,4,6,8,10,12.14,16,18,20)
even_numbers
even_numbers[1]
even_numbers[2]
even_numbers[3]

[1]  2.00  4.00  6.00  8.00 10.00 12.14 16.00 18.00 20.00

[1] 2

[1] 4

[1] 6

In [20]:
#Character vector of Fruits types
fruits_types<-c("Apple","Banana","Cherry","Date","Elderberry")
fruits_types
fruits_types[1]
fruits_types[5]

[1] "Apple"      "Banana"     "Cherry"     "Date"       "Elderberry"

[1] "Apple"

[1] "Elderberry"

In [30]:
my_list<-list (c(2,4,6),c("Apple","Orange","Pear"),c(TRUE,FALSE,TRUE))
my_list

[[1]]
[1] 2 4 6

[[2]]
[1] "Apple"  "Orange" "Pear"

[[3]]
[1]  TRUE FALSE  TRUE

In [34]:
#Creating and Modifying Matrices
even_matrix<-matrix(even_numbers,nrow = 2,ncol = 6)
even_matrix

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 2    6    4    2    6    4
[2,] 4    2    6    4    2    6

In [41]:
#Introduction to Data Frames
#Creating a data frame

fruit_data<- data.frame(fruits_types=c("Orange","Banana","Pear"),quantity=c(4,8,12))
fruit_data
#Accessing and Modifying the data
fruit_data[2,]
fruit_data[1]
fruit_data[1,]

  fruits_types quantity
1 Orange        4
2 Banana        8
3 Pear         12

  fruits_types quantity
2 Banana       8

  fruits_types
1 Orange
2 Banana
3 Pear

  fruits_types quantity
1 Orange       4